Preprocess_dataset/final_smoke_datasets/*
Preprocess_dataset/final_smoke_datasets_label/*
train_val_dataset/*
Preprocess_dataset/train_val_dataset_old/*
model_pth/*
.test_cuda.py
.split.py
__pycache__/
dataset.zip